<nav class="admin-nav">
  <ul>
    <li><%= link_to "商品一覧", admin_items_path, title: "商品一覧" %></li>
    <li><%= link_to "会員一覧", admin_end_users_path, title: "会員一覧" %></li>
    <li><%= link_to "注文履歴一覧", "", title: "注文履歴一覧" %></li>
    <li><%= link_to "ジャンル管理", "", title: "ジャンル管理" %></li>
    <li><%= link_to "ログアウト", destroy_admin_session_path, title: "ログアウト", method: :delete %></li>
  </ul>
  <div class="search">
    <%= form_tag "", method: :get, local: true do %>
      <div class="field has-addons">
        <%= hidden_field_tag :search_type, params[:search_type] %>
        <div class="control">
          <%= text_field_tag :search, params[:search], class: "input", placeholder: "Search" %>
        </div>
        <div class="control">
          <%= submit_tag "検索", style: "display: none;" %>
        </div>
      </div>
    <% end %>
  </div>
</nav>
