<div class="container">
  <div class="main-container">
    <div class="cart_items">
      <div class="cart-items-header">
        <div>
          <h1>ショッピングカート</h1>
        </div>
        <div>
          <%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete , class: "button is-danger"%>
        </div>
      </div>
      <div class="cart-items-container">
        <table>
          <thead>
            <tr>
              <th class="th-left">商品名</th>
              <th class="th-left">単価(税込み)</th>
              <th class="th-left">数量</th>
              <th class="th-left">小計</th>
              <th class=""></th>
            </tr>
          </thead>
          <tbody>
            <% @cart_items.each do |cart_item| %>
              <tr>
                <td class="td-left">
                  <div class="cart-items-container__item-image">
                    <% if cart_item.item.image_id.nil? %>
                      <div class="cart-items-container__item-image-empty">
                        <div></div>
                      </div>
                    <% else %>
                      <div class="item-image-preview image-preview">
                        <%= image_tag attachment_url(cart_item.item, :image, :fill, 45, 30, format: "jpg") %>
                      </div>
                    <% end %>
                    <div class="cart-items-container__item-name">
                      <%= cart_item.item.name %>
                    </div>
                  </div>
                </td>
                <td class="td-left"><%= cart_item.item.price_with_tax.to_s(:delimited) %></td>
                <td class="td-left">
                  <%= form_with model: cart_item, url: cart_items_update_path(id: cart_item.id), local: true do |f| %>
                    <%= f.number_field :amount, min: 1, max: 100, class: "input" %>
                    <%= f.submit "変更", class: "button is-info" %>
                  <% end %>
                </td>
                <td class="td-left"><%= cart_item.subtotal.to_s(:delimited) %></td>
                <td class="td-left">
                  <%= link_to "削除する", cart_items_destroy_path(id: cart_item.id), method: :delete, class: "button is-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="cart-items-footer">
        <div>
          <%= link_to "買い物を続ける", items_path, class: "button is-info" %>
        </div>
        <div>
          <table>
            <tbody>
              <tr>
                <th class="th-left">合計金額</th>
                <td class="td-left"><%= @total.to_s(:delimited) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <% if @cart_items.present? %>
        <div class="move-on-order">
          <div>
            <%= link_to "情報入力に進む", orders_new_path, class: "button is-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
