<div class="container">
  <div class="main-container">
    <div class="new-order">
      <div class="new-order-header">
        <h1 class="h1-primary">注文情報入力</h1>
      </div>
      <div class="new-order-form">
        <%= form_with model: @order, url: public_orders_confirm_path, local: true, builder: CustomFormBuilder do |f| %>
          <%= render "admin/shared/error_messages", resource: f.object %>
          <div>
            <div>
              <%= f.label :pay_type, class: "label" %>
            </div>
            <div class="new-order-form-pay-type">
              <div>
                <label>
                  <%= f.radio_button :pay_type, "credit_cart" %>
                  クレジットカード
                </label>
              </div>
              <div>
                <label>
                  <%= f.radio_button :pay_type, "bank_transfer" %>
                  銀行振込
                </label>
              </div>
            </div>
          </div>

          <div>
            <label class="label">お届け先</label>
            <div class="new-order-form-address-status">
              <label>
                <%= f.radio_button :address_status, "self" %>ご自身の住所
              </label>
              <div class="new-order-form-address-status">
                <%= current_end_user.zip_code %> <%= current_end_user.address %><br>
                <%= current_end_user.full_name %>
              </div>
            </div>
            <div class="new-order-form-address-status">
              <label>
                <%= f.radio_button :address_status, "registered" %>登録済住所から選択
              </label>
              <div class="new-order-form-address-status">
                <div class="select">
                  <%= f.collection_select :address_id, @addresses, :id, :full_address %>
                </div>
              </div>
            </div>
            <div class="new-order-form-address-status">
              <label>
                <%= f.radio_button :address_status, "registration" %>新しいお届け先
              </label>
              <div class="new-order-form-address-status">
                <div class="columns">
                  <div class="column is-2">
                    <%= f.label :zip_code %>
                  </div>
                  <div class="column is-2">
                    <%= f.text_field :zip_code, autocomplete: "zip_code", class: "input" %>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-2">
                    <%= f.label :address %>
                  </div>
                  <div class="column is-5">
                    <%= f.text_field :address, autocomplete: "address", class: "input" %>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-2">
                    <%= f.label :destination %>
                  </div>
                  <div class="column is-2">
                    <%= f.text_field :destination, autocomplete: "destination", class: "input" %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="buttons">
            <div>
              <%= f.submit "確認画面に進む", class: "button is-info" %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
