<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCakes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="admin-header" class="header">
      <div class="container">
        <div class="logo">
          <% if admin_signed_in? %>
            <%= link_to "LOGO", admin_top_index_path, title: "Top", class: "top" %>
          <% elsif end_user_signed_in? %>
            <%= link_to "LOGO", public_path, title: "Top", class: "top" %>
          <% else %>
            <span class="top">LOGO</span>
          <% end %>
        </div>
        <% if admin_signed_in? %>
          <%= render "admin/header" %>
        <% else %>
          <%= render "public/header" %>
        <% end %>
      </div>
    </header>
    <div class="container">
      <div class="main-container">
        <% if notice.present? %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <p class="alert"><%= alert %></p>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
